my-vite-app/node_modules
my-vite-app/.env.development
my-vite-app/.env.production
backend/node_modules
backend/cmd.md
my-vite-app/.env.example
backend/logs/

# Android build files
my-vite-app/android/.gradle/
my-vite-app/android/.idea/
my-vite-app/android/build/
my-vite-app/android/app/build/
my-vite-app/android/local.properties

myenv
us_car_models_data_master
.env
.env.development
.env.production
backend/.env.development
backend/.env.production
backend/.env
my-vite-app/.env
my-vite-app/.env.development
my-vite-app/.env.production
.env.example
.github/instructions/
.github/instructions/js insturctions.instructions.md
.github/instructions/tsx instructions.instructions.md
.github/
docs
node_modules
