.cropper-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.cropper-zoom-slider {
  margin-top: 1rem;
}

.cropper-zoom-slider .ant-slider {
  width: 200px;
  display: inline-block;
  margin-left: 8px;
}
